<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KelloxPartnerData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KelloxPartnerData.Properties.Settings>
            <setting name="KelloxPartnerData_KelloxPartnerNav_KelloxPartnerWS"
                serializeAs="String">
                <value>http://localhost:7048/DynamicsNAV/WS/Kellox%20AS/Codeunit/KelloxPartnerWS</value>
            </setting>
        </KelloxPartnerData.Properties.Settings>
    </applicationSettings>
</configuration>