<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ServiceName" value="KelloxPartnerService"/>
    <add key="ServiceDescription" value="Windows service hosting Kellox Partner Service"/>
    <!--<add key="Url" value="http://localhost:9001/KelloxPartnerService"/>-->
	<add key="Url" value="https://localhost:9002/KelloxPartnerService"/>
	<add key="UrlNav" value="http://localhost:7048/DynamicsNAV/WS/Kellox%20AS/Codeunit/KelloxPartnerWS"/>

    <!-- <add key="Url" value="https://remote.erpdevelopment.no:9002/KelloxPartnerService"/> -->
    <!-- <add key="UrlNav" value="http://localhost:7048/DynamicsNAV/WS/Kellox%20AS/Codeunit/KelloxPartnerWS"/> -->
    <add key="logging" value="true"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>